<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIBaseURL</key>
	<string>$(AI_BASE_URL)</string>
	<key>AIAuthToken</key>
	<string>$(AI_AUTH_TOKEN)</string>
	<key>AIUseStub</key>
	<string>$(AI_USE_STUB)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
